<!DOCTYPE html>
<html>
    <head>
        <title>image search</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
<body>
<div class="container"> 
<h1 >File Metadata</h1>
<p>Freecodecamp Project</p>
<a target="_blank" href="https://github.com/souryavaranasi"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
<a target="_blank" href="https://codepen.io/souryacodes/"><i class="fa fa-codepen fa-3x" aria-hidden="true"></i></a>
<a target="_blank" href="https://www.freecodecamp.org/souryavaranasi"><i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i></a>

<form  method="POST" action="/upload" enctype="multipart/form-data">
     
        <label for= "file">Please upload a file</label>
        
        <input type="file" name="file"  >
 
    <button class="btn btn-sm btn-primary btn-default" type="submit">submit</button>
</form>
</div>
        </body>
</html>